{% comment %}
  - Top Bar Menu is the fallback if Main Menu is empty
  - Otherwise show Main and Top Bar menu if they exist
{% endcomment %}
{% if section.settings.main_linklist == blank and section.settings.top_bar_linklist != blank %}
  {% assign navMobile = linklists[section.settings.top_bar_linklist] %}
{% else %}
  {% assign navMobile = linklists[section.settings.main_linklist] %}
  {% assign navMobileTopbar = linklists[section.settings.top_bar_linklist] %}
{% endif %}

<script type="application/json" id="mobile-menu-data">
  {
      {% for link in navMobile.links %}
          {% assign forloop_1 = forloop %}
          {% unless forloop.first %},{% endunless %}
          "{{ forloop_1.index0 }}": {
              "level": 0,
              "url": "{{ link.url }}",
              "title": {{ link.title | json }},
              "links": [
                  {% for sublink in link.links %}
                      "{{ forloop_1.index0 }}--{{ forloop.index0 }}"{% unless forloop.last %},{% endunless %}
                  {% endfor %}
              ]
          }
          {% for sublink in link.links %}
            {% assign forloop_2 = forloop %}
              , "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}": {
              "level": 1,
              "url": "{{ sublink.url }}",
              "title": {{ sublink.title | json }},
              "links": [
                  {% for subsublink in sublink.links %}
                      "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}--{{ forloop.index0 }}"{% unless forloop.last %},{% endunless %}
                  {% endfor %}
              ]
          }
          {% for subsublink in sublink.links %}
          {% assign forloop_3 = forloop %}
          , "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}--{{ forloop_3.index0 }}": {
              "level": 2,
              "url": "{{ subsublink.url }}",
              "title": {{ subsublink.title | json }},
              "links": []
          }
          {% endfor %}
          {% endfor %}
      {% endfor %}
  }
</script>
  
<script type="application/json" id="mobile-menu-data-topbar">
  {
      {% for link in navMobileTopbar.links %}
          {% assign forloop_1 = forloop %}
          {% unless forloop.first %},{% endunless %}
          "{{ forloop_1.index0 }}": {
              "level": 0,
              "url": "{{ link.url }}",
              "title": {{ link.title | json }},
              "links": [
                  {% for sublink in link.links %}
                      "{{ forloop_1.index0 }}--{{ forloop.index0 }}"{% unless forloop.last %},{% endunless %}
                  {% endfor %}
              ]
          }
          {% for sublink in link.links %}
            {% assign forloop_2 = forloop %}
              , "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}": {
              "level": 1,
              "url": "{{ sublink.url }}",
              "title": {{ sublink.title | json }},
              "links": [
                  {% for subsublink in sublink.links %}
                      "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}--{{ forloop.index0 }}"{% unless forloop.last %},{% endunless %}
                  {% endfor %}
              ]
          }
          {% for subsublink in sublink.links %}
          {% assign forloop_3 = forloop %}
          , "{{ forloop_1.index0 }}--{{ forloop_2.index0 }}--{{ forloop_3.index0 }}": {
              "level": 2,
              "url": "{{ subsublink.url }}",
              "title": {{ subsublink.title | json }},
              "links": []
          }
          {% endfor %}
          {% endfor %}
      {% endfor %}
  }
</script>

<div>
  <button
    type="button"
    class="slide-menu menu-close-icon mobile-menu-close alt-focus"
    aria-label="{{ 'general.menu.close_nav' | t }}">
    <i data-feather="x" aria-hidden="true"></i>
  </button>
</div>

<ul
  class="mobile-menu active mobile-menu-main search-enabled"
  id="mobile-menu--{{ navMobile.handle }}"
>

  {% for link in navMobile.links %}

    {% assign is-mega-menu-mobile = false %}
    {% assign link-title = link.title | strip %}
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% assign block-title = block.settings.mega-menu | strip %}
        {% if block-title == link-title  %}
          {% assign is-mega-menu-mobile = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
  

    <li {% if link.links != blank %} class="mobile-menu-link__has-submenu{% if is-mega-menu-mobile %} mobile-menu__mega-menu-item{% endif %}"{% endif %}>
      {% if link.links != blank %}
      <button
        type="button"
        class="alt-focus mobile-menu-link mobile-menu-sub mobile-menu-link__text{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"
        data-link="{{ forloop.index0 }}"
        aria-expanded="false"
      >
        {{ link.title | escape }}

        <i data-feather="chevron-right"></i>
      </button>
      {% else %}
        <a
          class="alt-focus mobile-menu-link mobile-menu-link__text{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"
          data-link="{{ forloop.index0 }}"
          href="{{ link.url }}"
        >
          {{ link.title | escape }}
        </a>
      {% endif %}
    </li>
  {% endfor %}

  {% for link in navMobileTopbar.links %}
    <li>
      {% if link.links != blank %}
        <button
          type="button"
          class="alt-focus mobile-menu-link mobile-menu-sub sub-topbar type-subheading mobile-menu-link__text{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"
          data-link="{{ forloop.index0 }}"
          aria-expanded="false"
        >
          {{ link.title | escape }}

          <i data-feather="chevron-right"></i>
        </button>
      {% else %}
        <a
          class="sub-topbar alt-focus mobile-menu-link mobile-menu-link__text type-subheading"
          href="{{ link.url }}"
          data-link="{{ forloop.index0 }}"
        >
          {{ link.title | escape }}
        </a>
      {% endif %}
    </li>
  {% endfor %}

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"><a href="{{ routes.account_url }}" class="mobile-menu-link">{{ 'customer.account.title' | t }}</a></li>
      <li class="mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}">{{ 'layout.customer.log_out' | t | customer_logout_link | replace: '<a', '<a class="mobile-menu-link"' }}</li>
    {% else %}
      <li class="mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}">{{ 'layout.customer.log_in' | t | customer_login_link | replace: '<a', '<a class="mobile-menu-link"' }}</li>
      {% if shop.customer_accounts_optional %}
        <li class="mobile-customer-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}">{{ 'customer.register.title' | t | customer_register_link | replace: '<a', '<a class="mobile-menu-link"' }}</li>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if section.settings.show_locale_selector %}
    <li>
      <button
        type="button"
        aria-expanded="false"
        class="alt-focus mobile-menu-link mobile-menu-sub mobile-menu-link-locale"
        data-link="mobile-menu-locale"
      >
        {{ 'general.language.dropdown_label' | t }}
        <i data-feather="chevron-right"></i>
      </button>

      {% if section.settings.show_locale_selector %}
        {%- form 'localization', class: 'localization-selector-form', id: 'mobile_nav_locale_form' -%}
          <div class="mobile-menu mobile-menu-child mobile-menu-hidden{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" id="mobile-menu-locale">
            <button
              type="button"
              class="btn-touch alt-focus mobile-menu-link mobile-menu-back{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"
              data-link="mobile-menu--"
              tabindex="-1"
            >
              <i data-feather="chevron-left" aria-hidden="true"></i>
              <span class="mobile-menu-title">Back</span>
            </button>

            <fieldset class="mobile-menu__fieldset">
              <legend class="mobile-menu__fieldset-legend">Select {{ 'general.language.dropdown_label' | t }}</legend>

              {% for locale in form.available_locales %}
                <button
                  type="submit"
                  name="locale_code"
                  class="mobile-menu__fieldset-btn alt-focus mobile-menu-link mobile-menu-locale-link{% if locale.iso_code == form.current_locale.iso_code %} mobile-menu-locale-selected{% endif %}"
                  value="{{ locale.iso_code }}"
                  tabindex="-1"
                >
                  {{ locale.endonym_name }}
                  {%- if locale.iso_code == form.current_locale.iso_code -%}
                    <i data-feather="check" aria-hidden="true"></i>
                  {%- endif -%}
                </button>
              {% endfor %}
            </fieldset>
          </div>
        {% endform %}
      {% endif %}
    </li>
  {% endif %}

  {% if section.settings.show_currency_selector %}
    <li>
      <button
        type="button"
        class="alt-focus mobile-menu-link mobile-menu-sub mobile-menu-link-currency"
        data-link="mobile-menu-currency"
        aria-expanded="false"
      >
        {{ 'general.currency.dropdown_label' | t }}
        <i data-feather="chevron-right"></i>
      </button>

        {% if section.settings.show_currency_selector %}
          {%- form 'localization', class: 'localization-selector-form', id: 'mobile_nav_currency_form' -%}
            <div class="mobile-menu mobile-menu-child mobile-menu-hidden{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}" id="mobile-menu-currency">
              <button
                type="button"
                class="btn-touch mobile-menu-back alt-focus mobile-menu-link{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"
                data-link="mobile-menu--"
                tabindex="-1"
              >
                <i data-feather="chevron-left" aria-hidden="true"></i>
                <span class="mobile-menu-title">Back</span>
              </button>

              <fieldset class="mobile-menu__fieldset">
                <legend class="mobile-menu__fieldset-legend">Select {{ 'general.currency.dropdown_label' | t }}</legend>
                  {% for currency in form.available_currencies %}
                    <button
                      type="submit"
                      name="currency_code"
                      class="alt-focus mobile-menu-link mobile-menu-currency-link {% if currency.iso_code == form.current_currency.iso_code %}mobile-menu-currency-selected{% endif %}"
                      value="{{ currency.iso_code }}"
                      tabindex="-1"
                    >
                      {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                      {%- if currency.iso_code == form.current_currency.iso_code -%}
                        <i data-feather="check" aria-hidden="true"></i>
                      {%- endif -%}
                    </button>
                  {% endfor %}
              </fieldset>
            </div>
          {%- endform -%}
        {% endif %}
    </li>
  {% endif %}

  {% render 'social-links' %}
</ul>

<div class="mobile-menu mobile-menu-child mobile-menu-hidden">
  <button
    type="button"
    class="mobile-menu-back alt-focus mobile-menu-link"
    tabindex="-1"
  >
    <i data-feather="chevron-left" aria-hidden="true"></i>
    <span>Back</span>
  </button>

  <ul
    id="mobile-menu"
  >
    <li>
      <a
        href="#"
        class="alt-focus mobile-menu-link top-link"
        tabindex="-1"
      >
        <div class="mobile-menu-title{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"></div>
      </a>
    </li>
  </ul>
</div>

<div class="mobile-menu mobile-menu-grandchild mobile-menu-hidden">
  <button
    type="button"
    class="mobile-menu-back alt-focus mobile-menu-link"
    tabindex="-1"
  >
    <i data-feather="chevron-left" aria-hidden="true"></i>
    <span>Back</span>
  </button>

  <ul
    id="mobile-submenu"
  >
    <li>
        <a
          href="#"
          class="alt-focus mobile-menu-link top-link"
          tabindex="-1"
        >
            <div class="mobile-menu-title{% if settings.navigation--font == 'subheading' %} type-subheading{% endif %}"></div>
        </a>
    </li>
  </ul>
</div>