<div class="content clearfix">
	<div class="title-bar custom-font">
		<h2 class="main-heading">{{ 'customer.account.title' | t }}</h2>
    {% comment %}<p><a href="/tools/checkout/api/manage/subscription/app" class="text-link">Manage Subscription</a></p>{% endcomment %}
	
  </div>

	<div class="row">
    <div id="customer_sidebar" class="col-md-3">
      <div id="customer_detail" class="group">
        <address>
          <p class="type-subheading type-subheading--1 mb-2">{{ customer.name }}</p>
          <p class="email note">{{ customer.email }}</p>

          <div class="address note">
            {% if customer.default_address != nil %}
              {{ customer.default_address | format_address }}
            {% endif %}
          </div>
        </address>

        <a id="view_address" class="button--text-subdued" href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>

        <a href="{{ routes.account_logout_url }}" class="btn fresh-logout-link">{{ 'layout.customer.log_out' | t }}</a>
      </div>
    </div>

    <div id="customer_orders" class="col-md-9">
      <div class="hide"><h2>{{ 'customer.orders.title' | t }}</h2></div>

      {% paginate customer.orders by 20 %}
        {% if customer.orders.size != 0 %}
        <table class="table table-responsive-md">
          <thead>
            <tr>
              <th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
              <th class="date">{{ 'customer.orders.date' | t }}</th>
              <th class="payment_status">{{ 'customer.orders.payment_status' | t }}</th>
              <th class="fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th class="total">{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
            <tr class="{% cycle 'odd', 'even' %} {% if order.canceled %}canceled_order{% endif %}">
              <td class="order_number__value">{{ order.name | link_to: order.customer_url }}</td>
              <td><span class="note">{{ order.created_at | date: format: 'long' }}</span></td>
              <td><span class="status_{{ order.financial_status_label }}">{{ order.financial_status_label }}</span></td>
              <td><span class="status_{{ order.fulfillment_status_label }}">{{ order.fulfillment_status_label }}</span></td>
              <td><span class="total money">{{ order.total_price | money }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}
        <div>{{ paginate | default_pagination }}</div>
      {% endpaginate %}
    </div>
  </div>
</div>
