<div class="container container--cart-page">
	<div class="title-bar wrapper--page-title remove-margin-bottom">
		<h2 class="main-heading">{{ 'cart.general.title' | t }}</h2>
	</div>

	{% if cart.item_count == 0 %}
		<div class="empty-cart">{{ 'cart.general.empty' | t }}, <a href="{{ routes.all_products_collection_url }}">{{ 'cart.general.continue_browsing_html' | t }}</a></div>
	{% else %}

	<div class="cart-error-box"></div>
	<form action="{{ routes.cart_url }}" method="post" novalidate class="cart table-wrap" id="cartform" data-wetheme-section-type="template--cart" data-wetheme-section-id="cart">

		<table class="cart-table full table--responsive" border="0">
			<thead class="cart__row cart__header-labels">
				<th colspan="2" scope="col"></th>
				<th class="cart--price-column" scope="col">{{ 'cart.general.price' | t }}</th>
				<th scope="col">{{ 'cart.general.quantity' | t }}</th>
				<th class="cart--final-column" scope="col">{{ 'cart.general.total' | t }}</th>
			</thead>

			<tbody>
				{% for item in cart.items %}
					{% capture image_alt %}
						{%- if item.image.alt != "" -%}{{item.image.alt}}{%- else -%}{{item.title}}{%- endif -%}
					{% endcapture %}
					<tr class="{% cycle 'even', 'odd' %} line-item id-{{ item.id }} {%- if item.line_level_discount_allocations != blank -%}discount--item{% endif %}">
						<td class="cart-table-image">
							<a class="cart_thumb" href="{{item.product.url}}" title="View {{item.title}} Page">
								{% render 'responsive-image' with item, alt: image_alt %}
							</a>
						</td>

						<td class="cart-table-title">
							<a class="cart-table-title__title" href="{{ item.url }}" title="View {{ item.title | escape }}">{{ item.product.title }}</a>

							{% unless item.variant.title contains 'Default' %}
								<div class="cart__meta-text">
									{% for option in item.product.options %}
										<span>{{ option }}</span>: {{ item.variant.options[forloop.index0] }}<br/>
									{% endfor %}

								</div>
							{% endunless %}

							{% if item.selling_plan_allocation %}
								<div class="cart__meta-text">
									<span>{{ item.selling_plan_allocation.selling_plan.name }}<span>
								</div>
							{% endif %}
<span class="bold_ro_desc" data-product-id="{{item.id}}-{{ forloop.index0 }}"></span>

                                      
							{% assign property_size = item.properties | size %}
							{% if property_size > 0 %}
								<br />
								{% for p in item.properties %}
									{% if p.last != blank and p.first.first != '_' %}
										{{ p.first }}:
										{% comment %}
										Check if there was an uploaded file associated
										{% endcomment %}
										{% if p.last contains '/uploads/' %}
											<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
										{% else %}
											{{ p.last }}
										{% endif %}
										<br>
									{% endif %}
								{% endfor %}
							{% endif %}
                                      
                                      <span class="bold_load_cart_item_properties"></span>


							<div class="cart-table-item-remove">
								<a href="{{ routes.cart_url }}/change?line={{ forloop.index }}&amp;quantity=0">{{ 'cart.general.remove' | t }}</a>
							</div>
						</td>

						<td class="cart-table-price">
							{%- if item.original_price != item.final_price -%}
								<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
								<span class="order-discount"><span class="money">{{ item.final_price | money }}</span></span>
								<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
								<del><span class="compare-at-price money">{{ item.original_price | money }}</span></del>
							{%- else -%}
								<span class="money">{{ item.original_price | money }}</span>
							{%- endif -%}

							{% if item.unit_price != blank %}
							<span class="cart__price-unit-price">
								{%- capture unit_price_separator -%}
								<span aria-hidden="true">/</span>
								{%- endcapture -%}
								{%- capture unit_price_base_unit -%}
								{%- if item.unit_price_measurement.reference_value != 1 -%}
									{{- item.unit_price_measurement.reference_value -}}
								{%- endif -%}
									{{ item.unit_price_measurement.reference_unit }}
								{%- endcapture -%}

								<span data-unit-price>( {{ item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}})
							</span>
							{% endif %}
						</td>

						<td class="cart-table-quantity">
							<div class="quantity-controls" data-stock-count="{{ item.variant.inventory_quantity }}" data-inventory-policy="{{ item.variant.inventory_policy }}">
								<button
									type="button"
									class="qty-minus alt-focus"
									aria-label="Reduce item quantity by one"
								>-</button>
								<label for="updates_{{item.variant.id}}" class="sr-only"></label>
								<input
									id="updates_{{item.variant.id}}"
									class="number quantity-selector"
									value="{{item.quantity}}"
									aria-label="Quantity"
									name="updates[]"
									type="text"
									size="4"
								>
								<button
									type="button"
									class="qty-plus alt-focus"
									aria-label="Increase item quantity by one"
								>+</button>
							</div>
							<div class="stock-error-message d-none">{{ 'cart.general.stock_error' | t }}</div>
						</td>

						<td class="cart-table-line-price cart--final-column">
							{%- if item.original_line_price != item.final_line_price -%}
								<div>
									<span class="sr-only">{{ 'products.general.now_price' | t }}</span>
									<span class="order-discount"><span class="money">
                                      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="{{item.key}}" style="display:none !important;"></span>
                                      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" data-item-key="{{item.key}}" style="display:none !important;"></span>

{{ item.final_line_price | money }}</span></span>
									<span class="sr-only">{{ 'products.general.was_price' | t }}</span>
									<del><span class="compare-at-price money">{{ item.original_line_price | money }}</span></del>
								</div>
							{%- else -%}
								<span class="money">{{ item.original_line_price | money }}</span>
							{%- endif -%}

							{%- if item.line_level_discount_allocations != blank -%}
								<ul class="order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}">
									{%- for discount_allocation in item.line_level_discount_allocations -%}
									<li class="order-discount--item">
										{{ discount_allocation.discount_application.title }} <span class="sr-only">{{ 'products.general.saving' | t }} </span>(-<span class="money">{{ discount_allocation.amount | money }}</span>)
									</li>
									{%- endfor -%}
								</ul>
							{%- endif -%}

						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="cart-bottom-box">

			{% if settings.allow_note %}
				<div class="col-lg-6 checkout-add-note mobile">
					<label for="note">{{ 'cart.general.note' | t }}&hellip;</label>
					<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
					&nbsp;
					{% if section.settings.cart_note_title != blank or section.settings.cart_note_content != blank %}
						<div class="cart_note">
							<strong>{{ section.settings.cart_note_title }}</strong>
							{{ section.settings.cart_note_content }}
						</div>
					{% endif %}
				</div>
			{% endif %}

			{%- if cart.cart_level_discount_applications != blank -%}
				<div class="cart--order-discount-wrapper custom-font">
					{%- for discount_application in cart.cart_level_discount_applications -%}
					<div class="cart--order-discount-wrapper--indiv">
						<span class="order-discount--cart-title">
							<span class="hide">{{ 'customer.order.discount' | t }}:</span>{{- discount_application.title -}}
						</span>
						<span class="order-discount">-<span class="money">{{ discount_application.total_allocated_amount | money }}</span></span>
					</div>
					{%- endfor -%}
				</div>
			{%- endif -%}

			<div class="cart-totals--wrapper">
				<div id="cart-total-header">{{ 'cart.general.subtotal' | t }}</div>
				<div id="cart-total-final-price">
				<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;">{{ cart.total_price | money_with_currency }}</span>
                  <span class="money">{{ cart.total_price | money }}</span>
				</div>
			</div>

			{%- capture taxes_shipping_checkout -%}
				{%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
					{{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
				{%- elsif cart.taxes_included -%}
					{{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
				{%- elsif shop.shipping_policy.body != blank -%}
					{{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
				{%- else -%}
					{{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
				{%- endif -%}
			{%- endcapture -%}

			<div class="row justify-content-center justify-content-md-end">

				{% if settings.allow_note %}
					<div class="col-lg-6 checkout-add-note desktop">
						<label for="note">{{ 'cart.general.note' | t }}&hellip;</label>
						<textarea id="note" name="note" class="form-control">{{ cart.note }}</textarea>
						&nbsp;
						{% if section.settings.cart_note_title != blank or section.settings.cart_note_content != blank %}
							<div class="cart_note">
								<strong>{{ section.settings.cart_note_title }}</strong>
								{{ section.settings.cart_note_content }}
							</div>
						{% endif %}
					</div>
				{% endif %}

				<div class="{% if settings.allow_note %}col-lg-6{% else %}col-md{% endif %}">
                  	<div class="cart--message">
                      {{ 'cart.general.cart_message' | t }}
                    </div>
					<div class="cart--shipping-message">{{ taxes_shipping_checkout }}</div>

					{% if settings.free_shipping_message != blank and settings.free_shipping_amount != blank and settings.free_shipping_achieved != blank and settings.enable_shipping_encouragement %}
						<div data-free-shipping-msg >
							{% render 'free-shipping-message' %}
						</div>
					{% endif %}

					<div id="checkout-buttons">
						<a href="{{ routes.root_url }}" class="btn secondary-button continue-shopping--cart">{{ 'layout.cart.continue_shopping' | t }}</a>

						<input id="update_quantities" type="submit" value="{{ 'cart.general.update' | t }}" title="{{ 'cart.general.update' | t }}" name="update" class="btn secondary-button" />
						<input id="cart_submit" type="submit" value="{{ 'cart.general.checkout' | t }}" name="checkout" class="btn" />
					</div>

					{% if additional_checkout_buttons and settings.enable-additional-checkout-buttons %}
						<div class="additional-checkout-buttons additional-checkout-buttons--vertical">
							{{ content_for_additional_checkout_buttons }}
						</div>
					{% endif %}

				</div>
			</div>
		</div>

	</form>

	<script type="application/json" id="initial-cart">
		{{ cart | json }}
	</script>

	{% endif %}
</div>

{% schema %}
{
	"name": "Cart",
	"settings": [
		{
			"type": "header",
			"content": "Cart Note"
		},
		{
			"type": "text",
			"id": "cart_note_title",
			"label": "Title"
		},
		{
			"type": "richtext",
			"id": "cart_note_content",
			"label": "Content"
		}
	]
}
{% endschema %}