/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/
.grid__image.hover--effect .collection-image--primary {
    opacity: 1;
    visibility: visible;
}

.grid__image.hover--effect .collection-image--secondary {
    opacity: 0;
    visibility: hidden;
}

.collection-image--secondary {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.collection-image--secondary,
.collection-image--primary {
    transition: ease-in-out all 0.5s;
}

@media screen and (min-width: 768px) {
    .grid__image.hover--effect:hover .collection-image--primary {
        opacity: 0;
        visibility: hidden;
    }
    
    .grid__image.hover--effect:hover .collection-image--secondary {
        opacity: 1;
        visibility: visible;
    }
}

.cart--message {
  font-style: italic;
  text-align: right;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
}


/* ------------- Cart Page ------------ */

.cart_note {
    display: flex;
}

.cart_note strong {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .cart_note {
        font-size: 14px;
        text-align: left;
        margin-top: -15px;
    }
}